<div class="content-container">
  <h1 class="cool-title">Welcome to Your Media Library</h1>

  <!-- Total Counts Section -->
  <div class="item-grid">

    <div class="item-card">
      <div class="card-front">
        <div class="item-info">
          <p class="item-title">Total Video Games</p>
          <p class="item-platform">{{ totalVideoGames }}</p>
        </div>
      </div>
    </div>

    <div class="item-card">
      <div class="card-front">
        <div class="item-info">
          <p class="item-title">Total Books</p>
          <p class="item-platform">{{ totalBooks }}</p>
        </div>
      </div>
    </div>

    <div class="item-card">
      <div class="card-front">
        <div class="item-info">
          <p class="item-title">Total Movies</p>
          <p class="item-platform">{{ totalMovies }}</p>
        </div>
      </div>
    </div>

    <div class="item-card">
      <div class="card-front">
        <div class="item-info">
          <p class="item-title">Total TV Shows</p>
          <p class="item-platform">{{ totalTvShows }}</p>
        </div>
      </div>
    </div>

  </div>


  <!-- Completed Counts -->
  <div class="stats-section">

    <h2>Statistics for {{ currentYear }}</h2>

    <p *ngIf="completedVideoGamesCount !== null">
      Completed Video Games: {{ completedVideoGamesCount }}
    </p>
    <p *ngIf="completedVideoGamesCount === null">Loading Video Games...</p>

    <p *ngIf="completedBooksCount !== null">
      Completed Books: {{ completedBooksCount }}
    </p>
    <p *ngIf="completedBooksCount === null">Loading Books...</p>

    <p *ngIf="completedMoviesCount !== null">
      Completed Movies: {{ completedMoviesCount }}
    </p>
    <p *ngIf="completedMoviesCount === null">Loading Movies...</p>

    <p *ngIf="completedTvShowsCount !== null">
      Completed TV Shows: {{ completedTvShowsCount }}
    </p>
    <p *ngIf="completedTvShowsCount === null">Loading TV Shows...</p>

  </div>
</div>
